[Desktop Entry]
Version=1.0
Type=Application
Name=Linuxtyper
Path=/opt/linuxtyper
Exec=/opt/linuxtyper/linuxtyper
Icon=/usr/share/icons/linuxtyper/icon.png
Terminal=false